<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>


     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
body {
  background-image: url('blank.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
</head>
<body>
<div class="container">
  <div class="jumbotron">
<center><h1>Mary queens Mission Hospital</h1></center>
  </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="aboutus">About us</a></li>
      <li class="dropdown"><a href="doctor">Doctor <span class="caret"></span></a>
        <ul class="dropdown-menu">

        </ul>
      </li>
      <li><a href="department">Department</a></li>
		<li><a href="contactus">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="registration"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

    </ul>
  </div>
</nav>

<div class="content"><div class="ic"></div>
			<div class="container_12">
				<div class="grid_4">
					<h2>Mary Queens Mission Hospital</h2>
					<img src="images/srms.jpg" alt="" class="img_inner">
					<div class="text1 col2"><a href="#">To strive for meaningful existence by providing selfless and quality service and uncompromising commitment to all irrespective of caste and creed.</a></div>
					<p>Mary Queens Mission Hospital founded in 1957, as a charitable institution, is the living expression of the apostolic concern and social responsibility of Carmelites of  Mary Immaculate (CMI), the first indigenous congregation in India in the Catholic Church. The hospital, as the premier project of Mary Queens Mission Hospital Trust,
 a registered charitable organization, is owned and managed by the CMI St. Joseph Province, Kottayam.</p>
					Maecenas vehiculaegestas venenatis. Duiser massa elit, auctor pellentesque vel, aliquet amet erat. <br>
					<a href="#" class="btn">more</a>
				</div>
				<div class="grid_4">
					<h2>Our History</h2>
					<ul class="list1">
						<li>
							<time datetime="2014-01-01">1998 -</time>
							<div class="extra_wrapper"><a href="#">As a centre of modern medicine, Mary Queens Mission Hospital is different. Thousands and thousands of patients and their dear and near ones experience this difference for the last fifty years. Mary Queens is different because here we are giving personalized care.</a></div>
						</li>
						<li>
							<time datetime="2014-01-01">2001 -</time>
							<div class="extra_wrapper">Laying foundation stone for the Jubilee Block (Rev. Fr. Joseph Vadaken CMI, Provincial)</a></div>
						</li>
						<li>
							<time datetime="2014-01-01">2005 -</time>
							<div class="extra_wrapper">Erat mattisy nequelisis, sit amet ultricieser erarutrum. Crasacilisis, nulla vel viverra auctor, leo magna sodales felis quis lesuada nibh odio ut velitoin pharetra <a href="#"></a></div>
						</li>
						<li>
							<time datetime="2014-01-01">2008 -</time>
							<div class="extra_wrapper"><a href="#">mattisy nequelisis, simet eryu ultricieser erarutrumracilisis, nulla vel viverra auctor, leo magna sodales felis quiser malesuada nibh odio ut oin</a></div>
						</li>
						<li>
							<time datetime="2014-01-01">2013 -</time>
							<div class="extra_wrapper"><a href="#">Mattisy nequelisis, sit amet ty ultricieser erarutrum. Cras facilisis, nulla vel viverra auctor, leo magna sodales felis quis malesuada nibh odio ut</a></div>
						</li>
					</ul>
				</div>
				<div class="grid_4">
					<h2>Opportunities</h2>
					<div class="text1 col2"><a href="#">Your rating of the quality of care you received</a></div>
					<p>Mary Queens is a full fledged hospital capable of providing total health care. The 250 bedded hospital has elaborate in-patient and out-patient facilities. The hospital offers specialized treatments for most of human ailments. Experienced medical specialists and experienced para-medical personnel join hands to render dedicated service and care to all.As a centre of modern medicine Mary Queens Mission Hospital is different. Thousands and thousands of patients and their dear and near ones experience this difference for the last fifty years.
Mary Queens is different because here we are giving personalized care. </p>
					Ggestas venenatis. Duis massa elit, auctor pellentesque vel, aliquet sit amet eratertolo. Phasellus accumsan justo vitae feugiat
					<ul class="list">
						<li><a href="#">Proin pharetra luctus</a></li>
						<li><a href="#">Diam, a scelerisque eros</a></li>
						<li><a href="#">Maecenas vehicula egestas</a></li>
						<li><a href="#"> Duis massa elit, auctor non</a></li>
						<li><a href="#">Aliquet sit amet eraty</a></li>
					</ul>
					Mary Queens is a full fledged hospital capable of providing total health care. The 250 bedded hospital has elaborate in-patient and out-patient facilities. The hospital offers specialized treatments for most of human ailments. Experienced medical specialists and experienced para-medical personnel join hands to render dedicated service and care to all.
				</div>
			</div>
		</div>
		<div class="gray_block center">
			<div class="container_12">
				<div class="grid_12">
					<h3>Best Professionals</h3>
				</div>
				<div class="grid_3">
					<div class="block3">
						<img src="images/page2_img1.jpg" alt="">
						<div class="text2"><a href="#">Mark Johnson</a></div>
						In mollis erat matt nequemer facilameteserylerarutrum.
					</div>
				</div>
				<div class="grid_3">
					<div class="block3 bd1">
						<img src="images/page2_img2.jpg" alt="">
						<div class="text2"><a href="#">Ingrid Wood</a></div>
						In mollis erat matt nequemer facilameteserylerarutrum.
					</div>
				</div>
				<div class="grid_3">
					<div class="block3 bd2">
						<img src="images/page2_img3.jpg" alt="">
						<div class="text2"><a href="#">Linda Smith</a></div>
						In mollis erat matt nequemer facilameteserylerarutrum.
					</div>
				</div>
				<div class="grid_3">
					<div class="block3 bd3">
						<img src="images/page2_img4.jpg" alt="">
						<div class="text2"><a href="#">Devid Grosh</a></div>
						In mollis erat matt nequemer facilameteserylerarutrum.
					</div>
				</div>
			</div>
		</div>

</body>
</html>