<!DOCTYPE html>
<html>
{% include "header.html" %}
{% include "user.html" %}
<head>
<style>
body {
  background-color: lightgrey;
  color: blue;
}

h1 {
  background-color: black;
  color: white;
}
</style>
</head>
<body>

<h1>Serviced Apartment:</h1>
<p>With a belief that patients need medical care even after their discharge, these rooms are specially designed as serviced apartments,
    and provide recuperating patients and their families a homely environment along with the required privacy.

A spacious floor comprising deluxe and suite rooms, is complemented by a lush green terrace,
    offering a quiet sanctuary to take in some fresh air, walk, meditate or simply enjoy peace and quiet.
    With the Physiotherapy Department on the same floor, post-surgical rehabilitation becomes a truly reassuring experience within a soothing atmosphere.</p>
<p>A spacious floor comprising deluxe and suite rooms, is complemented by a lush green terrace,
    offering a quiet sanctuary to take in some fresh air, walk, meditate or simply enjoy peace and quiet.
    With the Physiotherapy Department on the same floor, post-surgical rehabilitation becomes a truly reassuring experience within a soothing atmosphere</p>
<img src="dr.jpg"  style="width:50%;"></center>
</body>
</html>
