<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>cardi</title>
    <style>
h4.d {
  text-align: justify;
}
p {
  color: blue;
}

body {
  background-color:hsl(89, 43%, 51%);
}

p.test1 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip;
}

p.test2 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style

</head>
<body>

<center><h1>Cardiology</h1></center>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="hom">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="aboutus">About us</a></li>
      <li class="dropdown"><a href="doctor">Doctor <span class="caret"></span></a>
        <ul class="dropdown-menu">

        </ul>
      </li>
      <li><a href="department">Department</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="registration"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

    </ul>
  </div>
</nav>


 <div class="col-md-4">
     <center> <div class="thumbnail">
         <img src="car.jpg" alt="Nature" style="width:70%"></center>
      </div>
    </div>

<h4>All cardiologists study the disorders of the heart, but the study of adult and child heart disorders are through different training pathways.
Therefore, an adult cardiologist (often simply called "cardiologist") is inadequately trained to take care of children, and pediatric cardiologists are not trained
to take care of adult heart disease. The surgical aspects are not included in cardiology and are in the domain of cardiothoracic surgery. For example, coronary artery bypass surgery (CABG), cardiopulmonary bypass and
valve replacement are surgical procedures performed by surgeons, not cardiologists. However, the insertion of stents and pacemakers is performed by cardiologists</h4><br><br><br><br>
<h4>Famous Doctors</h4>
<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="meenu.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Dr Meenu</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="ramya.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Dr Ramya</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="renjith.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Dr Renjith</div>
</div>



</body>
</html>





