<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>department</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="aboutus">About us</a></li>
      <li class="dropdown"><a href="doctor">Doctor <span class="caret"></span></a>
        <ul class="dropdown-menu">

        </ul>
      </li>
      <li><a href="department">Department</a></li>
      <li><a href="contactus">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="registration"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

    </ul>
  </div>
</nav>


<div class="container">
  <h2>Department</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="gynecology" target="_blank">
          <img src="gyne.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Gynecology</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="pedia" target="_blank">
          <img src="pedi.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Pediatrics</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="physio" target="_blank">
          <img src="phy.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Physiotherapy</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

 <div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="cardi" target="_blank">
          <img src="car.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Cardiology</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="emer" target="_blank">
          <img src="emergency.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Emergency Medicine</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="end" target="_blank">
          <img src="endo.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Endocrinology</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="diet" target="_blank">
          <img src="die.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Diatetics.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="tele" target="_blank">
          <img src="tele.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Telemedicine</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="ane" target="_blank">
          <img src="ans.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Anesteciology</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



</body>
</html>