<!DOCTYPE html>
{% include "header.html" %}
{% include "user.html" %}
<html>
<head>
    <title>facility</title>
<style>
div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body>

<div>
  <h1>New Facilities</h1>
  <p>Mary queen mission hospital, Khar Facility boasts of the most advanced Cardiac Sciences Department in Mumbai.
      Our Cardiac Sciences Unit provides a comprehensive range of preventive, diagnostic and therapeutic services for cardiovascular
      diseases in a comfortable, compassionate and patient-centric environment. Our highly qualified and experienced cardiologists have
      expertise in general as well as interventional cardiology. We follow a Cardiac team approach, where each case is handled by a team
      of Physicians, Interventional Cardiologists, Cardiac Surgeons, Cardiac Anesthesist, Cath Lab technicians, Critical Care Specialists,
      Cardiac Rehab Therapists and nursing experts who work together to ensure timely action, expert consultation, and desired intervention.
      In case of co-morbid conditions, the availability of senior and renowned consultants across all specialties within the hospital itself
      ensures that cross referrals are quickly arranged. Equipped with state of the heart infrastructure, the department focuses on a holistic
      approach to cardiac care by offering quality treatments, rehabilitation/ recovery programs, continual support, and involving your family
      in decision- making through all stages of the treatment. Right from the detection to treatment to surgery and cardiac rehabilitation,
      our dedicated cardiac team puts you at the centre, ensuring that you get the best support throughout the treatmen
  <a target="_blank" href="tryit.asp?filename=trycss_text">"Try it Yourself"</a> link.</p>
</div>
<br>
 <center><img src="dn.jpg" style="width:50%;">
<br>
<img src="dl.jpg"  style="width:50%;">
<br>
<img src="dv.jpg"  style="width:50%;"></center>

</body>
</html>