
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>gyne</title>
    <style>
h4.d {
  text-align: justify;
}
p {
  color: blue;
}

body {
  background-color:rgba(201, 76, 76, 0.3);
}

p.test1 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip;
}

p.test2 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style

</head>
<body>

<center><h1>Gynecology</h1></center>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="hom">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="aboutus">About us</a></li>
      <li class="dropdown"><a href="doctor">Doctor <span class="caret"></span></a>
        <ul class="dropdown-menu">

        </ul>
      </li>
      <li><a href="department">Department</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="registration"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

    </ul>
  </div>
</nav>


 <div class="col-md-4">
     <center> <div class="thumbnail">
         <img src="jn.jpg" alt="Nature" style="width:70%"></center>
      </div>
    </div>

<h4>A gynecologist is a doctor who specializes in female reproductive health. They diagnose and treat issues related to the female reproductive tract. This includes the uterus, fallopian tubes, and ovaries and breasts.

Anyone with female organs may see a gynecologist.  80% of those who see one are between 15 to 45 years old.Gynecologists give reproductive and sexual health services that include pelvic exams, Pap tests, cancer screenings, and testing and treatment for vaginal infections.

They diagnose and treat reproductive system disorders such as endometriosis, infertility, ovarian cysts, and pelvic pain.<br><br> They may also care for people with ovarian, cervical, and other reproductive cancers.

Some gynecologists also practice as obstetricians, who give care during pregnancy and birth. If a gynecologist has expertise in obstetrics, they’re called an OB-GYN.
Gynecologists are physicians who have completed specialized training in the female reproductive system.</h4><br><br><br><br>
<h4>Famous Doctors</h4>
<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="arya.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Dr Arya Manohar</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="malavika.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Dr Malavika</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="gopinathan.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Dr Gopinathan</div>
</div>



</body>
</html>




