<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>pediatrics</title>
    <style>
h4.d {
  text-align: justify;
}
p {
  color: blue;
}

body {
  background-color:#80ced6;
}

p.test1 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip;
}

p.test2 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style

</head>
<body>

<center><h1>Pediatrics</h1></center>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="hom">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="aboutus">About us</a></li>
      <li class="dropdown"><a href="doctor">Doctor <span class="caret"></span></a>
        <ul class="dropdown-menu">

        </ul>
      </li>
      <li><a href="department">Department</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="registration"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>

    </ul>
  </div>
</nav>


 <div class="col-md-4">
     <center> <div class="thumbnail">
         <img src="pedi.jpg" alt="Nature" style="width:70%"></center>
      </div>
    </div>

<h4>A paediatrician is a child's physician who provides not only medical care for children who are acutely or chronically ill but also preventive health services for healthy children. A paediatrician manages physical, mental, and emotional well-being of the children under their care at every stage of development, in both sickness and health. Aims of pediatrics The aims of the study of paediatrics is to reduce infant and child rate of deaths, control the spread of infectious disease, promote healthy lifestyles for a long disease-free life and help ease the problems of children and adolescents with chronic conditions. Paediatricians diagnose and treat several conditions among children including:-
.injuries
.infections
.genetic and congenital conditions
.cancers
.organ diseases and dysfunctions
Paediatrics is concerned not only about immediate management of the ill child but also long term effects on quality of life, disability and survival. Paediatricians are involved with the prevention, early detection, and management of problems including</h4><br><br><br><br>
<h4>Famous Doctors</h4>
<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="seena.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="anand.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="ravidran.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>



</body>
</html>